

/*temporary img size*/

img {
	height: 1000px;


}

span {
	font-family: helvetica;
}

.octodex {
	border: 5px solid black;
	overflow: hidden;
	
}

.octocat {
	border: 5px solid gray;
	float: left;
	margin: 40px;


		
}

.image-footer {
		border/*-bottom*/: 5px solid purple;
		overflow: hidden;
		margin-top: 500px;

}


.image-number {
		font-size: 150%;

}

.image-caption {
		float: right;
		

}

.image-caption a {
		text-decoration: none;
		color: black;
		font-weight: bold;
		font-family: helvetica;
		font-size: 150%;


}

.image-caption span {
		text-decoration: none;
		font-size: 150%;

}


.authors {
	float: right;
	line-height: -50px;
}

.authors img {
		
		height: 100px;
		float: right;
		border-radius: 15px;
		
}

